---
const platform = 'github'
const username = 'withastro'
import Social from './Social.astro'
---

<footer>
	<p>
		Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}
			>{platform}</a
		>!
	</p>
	<Social platform="twitter" username="example1" />
	<Social platform="github" username="example2" />
	<Social platform="youtube" username="example3" />
</footer>
